branches:
 only:
  - master
  - main

os: linux
dist: focal
language: python
python: "3.8"
matrix:
  include:
    - arch: arm64-graviton2
      virt: vm
      group: edge
    - arch: amd64

install:
  - python -m pip install -r requirements-deploy.txt
  - python -m pip install -r requirements-dev.txt
  - python -m pip install -r requirements-repair.txt
  - python -m pip install -r requirements-test.txt

script:
  - pytest tests/
